@{
    Layout = "~/Views/Shared/MasterPages/_AuthoriseUserMaster.cshtml";
}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>Manage Agencies</span>
    </div>
    <div class="mws-panel-body no-padding">
        <div class="dataTables_wrapper">
            <div class="dataTables_filter">
                <label>
                    Search:
                    <input type="text" data-filter-grid-id="viewAgencies" data-filter-grid="true">
                </label>
            </div>


        </div>
    </div>
</div>