@model Bringly.AdminDomain.City

@{
    ViewBag.Title = "Edit City";
    //Layout = "~/Views/Shared/MasterPages/_AuthoriseUserMaster.cshtml";
    Layout = null;
}


<div class="mws-panel grid_8">
    <div class="">
        <span id="cityHeader">@((Model != null && !string.IsNullOrEmpty(Model.CityUrlName)) ? "Edit" : "Add") City</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form method="post" class="mws-form">
            <div class="mws-form-block">
                <div class="mws-form-row">
                    <div class="mws-form-cols">
                        <div class="mws-form-col-4-8">
                            <label class="mws-form-label">City name<span class="required">*</span></label>
                            <div class="mws-form-item">
                                @Html.TextBoxFor(m => m.CityName)
                                @Html.ValidationMessageFor(v => v.CityName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mws-button-row">
                    @Html.HiddenFor(m => m.CityGuid)
                    <input type="submit" name="submit" value="Save" title="Save" class="btn btn-inverse">
                </div>
            </div>
        </form>
    </div>
</div>
