@using Bringly.Domain
@model RestaurantSearch
@{
    var cityname = string.IsNullOrEmpty(Model.CityName) ? "" : Model.CityName;
    ViewBag.Title = "List of Restaurants in " + cityname;
    Layout = "~/Views/Shared/MasterPages/RestaurantMaster.cshtml";
    ViewBag.HideLeftSection = true;
}
@section BreadCrum{
    <li class="breadcrumb-item active">Restaurants</li>
}
@if (Model.Restaurants != null && Model.Restaurants.Count > 0)
{
    Html.RenderPartial("_RestaurantsList", Model.Restaurants);
}
else
{
    <div>
        <p style="color:red;font-size:16px;">No restaurant found.</p>
    </div>
}




