
<!DOCTYPE html>
<html lang="en">
<head>
    @{Html.RenderPartial("_pageHeader");}
</head>
<body>
    @if (!Convert.ToBoolean(ViewBag.TopMenuSection))
    {
        Html.RenderAction("TopMenu", "Menu");
    }
    else {
        Html.RenderAction("SocialUserTopMenu", "Menu");
    }
        <div class="container">
            @if (!Convert.ToBoolean(ViewBag.BreadcrumSection))
            {
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/User/Dashboard">Home</a></li>
                    @RenderSection("BreadCrum", false)
                </ol>
            }
            @if (Bringly.DomainLogic.UserVariables.IsAuthenticated)
            {
                <div class="main-heading">
                    <h3>Welcome, @Bringly.DomainLogic.UserVariables.UserName !</h3>
                </div>
            }
            @RenderSection("CustomizeTop", false)
            <div class="dashboard-content inner-margin">
                <div class="row">

                    @if (!Convert.ToBoolean(ViewBag.HideLeftSection)) { Html.RenderAction("partialLeftPanel", "User"); }

                    @RenderBody()


                </div>
            </div>


        </div>

        <div class="clearfix"></div>
        @{Html.RenderPartial("_pageFooter");}
    </body>
</html>