
<!DOCTYPE html>
<html lang="en">
<head>
    @{Html.RenderPartial("_pageHeader");}
    <style>
        body {
            overflow-y: auto;
        }

        .body-content {
            height: 560px;
            overflow: auto;
        }
    </style>
</head>
<body class="popup-body inframe">
    <div class="popup-heading">
        <h1>@ViewBag.PopupTitle</h1>
        <div class="close-button">
            <button onclick="window.parent.closeModelPopUpForm(false)" class="btn-close">&times;</button>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    @{Html.RenderPartial("_partialpageFooter");}

    @RenderSection("PageFooterResources", false)
</body>
</html>