<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <div class="Navbar-logo">
            <a class="navbar-brand" href="/">
                <img src="~/Templates/images/logo-2.png">
            </a>

        </div>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample10" style="">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0)">Services We offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">How it works</a>
                </li>
            </ul>
        </div>

        <div class="Navbar-Right-content">
            <p>
                <i class="fa fa-user-o" aria-hidden="true"></i> <a href="/usermembership/login">Log in</a>/<a href="/usermembership/userregistration">Register</a>
            </p>
        </div>
    </div>
</nav>
