@model string
<div id="divSocialMedia">
    <h5 class="text-center">
        Save time by using your social <br> accounts to @Model
    </h5>
    <p class="text-center">
        <a class="btn btn-lg btn-facebook" href="/Home/Facebook">
            <i class="fa fa-facebook"></i> Facebook
        </a>
        <br>
        <a class="btn btn-lg btn-google" href="/Home/RedirectToGoogle">
            <i class="fa fa-google-plus"></i> Google
        </a>
    </p>
</div>