
@{
    ViewBag.Title = "Sent Password";
    Layout = "~/Views/Shared/MasterPages/AnonymousUser.cshtml";
}
<style>
    .form-sign-in {
        color: green;
        padding-top: 10%;
    }
</style>
<div class="bg-white section-shadow sign-in-section sign-margin">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-sign-in text-lg-center" method="post">
                <div class="form-group">
                    <label>Your password has been sent to your registered email address.</label>
                </div>
                <p>
                    <a href="/home/login" class="btn btn-google">Login</a>
                </p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="right-content-form">
                @{ Html.RenderPartial("~/Views/Home/_socialMediaLogin.cshtml", "login");}
            </div>
        </div>
    </div>
</div>

