
@{
    ViewBag.Title = "ThankURegistration";
    Layout = "~/Views/Shared/MasterPages/AnonymousUser.cshtml";
}

<div class="thanku-page">
    <h2>Thank You!</h2>
    <p> For Registration.</p>
    <div class="varification-msg">
        <p>
            We sent an email to your registered email. Please verify to continue.
        </p>
    </div>
</div>

