@model bool
@{
    ViewBag.Title = "ThanksYou";
    Layout = "~/Views/Shared/MasterPages/AnonymousUser.cshtml";
}
<style>
    .btn-danger {
        background-color: #FA5342;
    }
</style>
<div class="thanku-page">
    <h2>Thank You!</h2>
    <p>You password has been generated.</p><p></p>
    @if (Model)
    {
        <p>Your account has been sent for admin approval.</p><p></p>
    }
    <p>
        <a href="/home/login" class="btn btn-danger">Login</a>
    </p>
</div>
