@{
    ViewBag.Title = "verificationexpired";
    Layout = "~/Views/Shared/MasterPages/AnonymousUser.cshtml";
}

<div class="thanku-page">
    <h2>Thank You!</h2>
    <p>Your email address has been already confirmed.</p>
    <div class="varification-msg">
    </div>
</div>

