@model List<Bringly.Domain.Business.BusinessObject>
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}
@section BreadCrum{
    <li class="breadcrumb-item active">Favourites</li>
}
<div class="col-lg-9 col-md-7 col-sm-12">
    <div class="right-side">
        <div class="page-sub-title">
            <h3>Favourites</h3>
        </div>
        <div class="row" id="divfavouritelist">
            @{Html.RenderPartial("_FavouriteLocationList", Model);}
        </div>
    </div>
</div>
