@model  Bringly.Domain.User.ManageUserProfiles
@{
    ViewBag.Title = "ManageManagers";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}

<div class="col-lg-9 col-md-7 col-sm-12 locationlist">
    <div>
        <div class="col-md-10 float-left"> <h2>Manage Managers</h2></div>
        <div class="mb-2"><a class="btn btn-primary" href="/User/AddEditManager">Add Manager</a></div>
    </div>
    @if (Model.UserProfiles != null && Model.UserProfiles.Count > 0)
    {
        <div class="right-side mail-box">
            <div class="shadow-box branch-table p-0" id="divlocationlist">
                <table id="tableuserlist" class="table table-responsive dataTable">
                    <thead>
                        <tr>
                            <td>Manager Name</td>
                            <td>Role</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.UserProfiles)
                        {
                            <tr class="tr-@obj.UserGuid">
                                <td>
                                    @obj.FullName
                                </td>
                                <td>
                                    @obj.RoleName
                                </td>
                                <td>
                                    <div class="edit-btn"> <a href="/User/AddEditManager?guid=@obj.UserGuid"><i class="fa fa-pencil"></i>Edit</a></div>
                                </td>
                                <td>
                                    <div class="remove-btn"> <a href="#" onclick="DeleteUser('@obj.UserGuid','You want to delete Manager.')"><i class="fa fa-trash"></i>Delete</a></div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="right-side mail-box">
            <div class="shadow-box">
                <div class="row">
                    @Html.Partial("_NoRecordFound", "No manager(s) found.")
                </div>
            </div>
        </div>
    }
</div>


