<div class="col-md-12 dynamicdata">
    <div class="row">
        <label class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-form-label">
            <input type="text" class="dynamicfieldname form-control" placeholder="Field Name" />
        </label>
        <div class="col-xl-6 col-lg-6 col-md-5 col-sm-10 col-form-label">
            <input type="text" class="dynamicfieldvalue form-control" placeholder="Value" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label text-center">
            <img style="width:15%; margin-top:15%;cursor:pointer;" title="Delete field" src="~/Templates/images/cross-icon.png" onclick="removeParentDiv('',this)"/>            
        </div>
    </div>
</div>