@model  List<Bringly.Domain.Business.BusinessObject>
@{
    ViewBag.Title = "BranchList";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}

<div class="col-lg-9 col-md-7 col-sm-12 locationlist">
    <div class="col-md-10 float-left"> <h2>Manage Branches</h2></div>
    <div class="mb-2"><a class="btn btn-primary" href="/Business/AddLocation">Add Branch</a></div>
    @if (Model != null && Model.Count > 0)
    {
        <div class="right-side mail-box">
            <div class="shadow-box branch-table p-0" id="divlocationlist">
                <table id="tablelocationlist" class="table table-responsive dataTable">
                    <thead>
                        <tr>
                            <th>Branch Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr class="first-child tr-@obj.BusinessGuid">
                                <td>
                                    @obj.BusinessName
                                </td>
                                <td>
                                    <div class="edit-btn"> <a href="/Business/MyLocation?businessGuid=@obj.BusinessGuid"><i class="fa fa-pencil"></i>Edit</a> </div>
                                </td>
                                <td>
                                    <div class="remove-btn"> <a href="#" onclick="DeleteLocation('@obj.BusinessGuid')"><i class="fa fa-trash"></i>Delete</a> </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="right-side mail-box">
            <div class="shadow-box">
                <div class="row">
                    @Html.Partial("_NoRecordFound", "No record found.")
                </div>
            </div>
        </div>
    }
</div>


