<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="BringlyEntities" connectionString="metadata=res://*/Bringly.csdl|res://*/Bringly.ssdl|res://*/Bringly.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=essor-server-01\mssqlserver_2014;initial catalog=Dev_Bringly;user id=dev_Bringly;password=dev_Bringly;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>