@model Bringly.Domain.MyEmail
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}



@if (Model.Emails != null && Model.Emails.Count > 0)
{
<div class="col-lg-9 col-md-7 col-sm-12 emaillist">
    <h2>Inbox</h2>
    <div class="right-side mail-box">
        <div class="shadow-box top-bar-mail">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <label class="custom-control custom-checkbox" title="Select all">
                        <input id="checkboxselectall" name="checkboxselectall" type="checkbox" class="checkboxselectall custom-control-input">
                        <span class="custom-control-indicator"></span>
                    </label>
                    <button title="Refresh" class="email-header-btn refresh-email btn btn-secondary"><i class="fa fa-refresh"></i></button>
                    <button onclick="markEmailReadOnClickHeader()" title="Mark As Read" class="email-header-btn btn btn-success mark-as-read margin-zero btn-disabled" disabled="disabled">
                        <i class="fa fa-envelope-open" aria-hidden="true"></i>
                    </button>
                    <button onclick="MarkEmailasUnReadHeader()" title="Mark As Unread" class="email-header-btn btn btn-primary mark-as-unread margin-zero btn-disabled" disabled="disabled">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                    <button title="Delete" type="button" class="email-header-btn delete-data btn btn-danger btn-disabled" disabled="disabled" onclick="DeleteInboxEmail();"><i class="fa fa-trash"></i></button>
                </div>

                <div class="col-lg-6 text-right">

                </div>
            </div>
        </div>
        <div id="partialEmaiList">
            @Html.Partial("_EmailList", Model)
        </div>
    </div>
</div>
}
else
{
<div class="col-lg-9 col-md-7 col-sm-12">
    <h2>Inbox</h2>
    <div class="right-side mail-box">
        <div class="shadow-box top-bar-mail">
            <div class="row">
                @Html.Partial("_NoRecordFound", "No message(s) found.")
            </div>
        </div>
    </div>
</div>
}

