@model  Bringly.Domain.MyEmail
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
}

@if (Model.Emails != null && Model.Emails.Count > 0)
{
    <div class="col-lg-9 col-md-7 col-sm-12 emaillist sent-email-list">
        <h2>Sent Messages</h2>
        <div class="right-side mail-box">
            <div id="partialEmaiList">
                @Html.Partial("_EmailList", Model)
            </div>
        </div>
    </div>
}
else
{
    <div class="col-lg-9 col-md-7 col-sm-12 sent-email-list">
        <h2>Sent Messages</h2>
        <div class="right-side mail-box">
            <div class="shadow-box top-bar-mail">
                <div class="row">
                    @Html.Partial("_NoRecordFound", "No sent message(s) found")
                </div>
            </div>
        </div>
    </div>
}
