
@{
    Layout = "~/Views/Shared/MasterPages/PartialMaster.cshtml";
}
<section class="bg-grey">
    <div class="container">
        <!-- Services We Offer -->
        <div class="bg-white section-shadow sign-in-section sign-margin">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form method="post">
                        <div class="form-group">
                            <div class="map-form form-icon">
                                @Html.TextBox("password", "", new { @class = "form-control", id = "password", type = "password", @required = true, placeholder = "Password", @pattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}", @title = "Must contain at least one number and one uppercase and one special letter, and at least 8 or more characters" })
                                <label class="icon-map key-img"><img src="~/Templates/images/key-password.png" /></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="map-form form-icon">
                                @Html.TextBox("confirm-password", "", new { @class = "form-control", type = "password", @required = true, placeholder = "Confirm Password", @pattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}", @title = "Must contain at least one number and one uppercase and one special letter, and at least 8 or more characters" })
                                <label class="icon-map key-img"><img src="~/Templates/images/key-password.png" /></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-lg" onclick="onSubmitDeleteAccountForm(event)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm-password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
