<!-- Left Panel-->
@model Bringly.Domain.User.UserProfile

<div class="col-lg-3 col-md-5 col-sm-12">
    <aside class="left-side">
        <div class="shadow-box profile-info">
            <form enctype="multipart/form-data">

                <div class="user-profile position-relative">
                    <img src="@(Bringly.DomainLogic.CommonDomainLogic.GetImagePath(Bringly.Domain.Enums.ImageType.User,Model.ProfileImage))" name="leftProfileImage" style="width:92px;height:93px;" class="m-auto d-block" />
                    <p class="edit-profil-img position-absolute">
                        <input type="file" id="fileUserProfileImage" style="display:none" />
                        <a id="OpenImgUpload" style="cursor:pointer;">Edit Profile</a>
                    </p>
                </div>
            </form>
            <p class="text-center">@Model.FullName</p>
            <p class="text-center"><span>@Bringly.DomainLogic.UserVariables.UserRole.ToString()</span></p>
        </div>

        <div class="shadow-box dashboard-menu">
            <ul class="list-unstyled">
                <li><a href="/User/Dashboard"><i class="fa fa-th-large"></i> Dashboard</a></li>
                @if (Bringly.DomainLogic.UserVariables.UserRole == Bringly.Domain.Enums.User.UserRoles.Buyer)
                {
                    <li class="active"><a href="/User/PersonalInformation"><i class="fa fa-user"></i> Personal Infomation</a></li>
                    <li><a href="#"><i class="fa fa-th-list"></i> My Orders</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i> Messages</a></li>
                    <li><a href="/user/favourites"><i class="fa fa-heart"></i> Favourites</a></li>
                    <li><a href="#"><i class="fa fa-star"></i> My Reviews</a></li>
                    <li><a href="#"><img src="/templates/images/wallet-icon.png" /> Wallet Account</a></li>
                    <li class="tracking"><a href="#"><i class="fa fa-search"></i> Order Tracking</a></li>
                }
                else
                {
                    <li><a href="/Restaurant/MyRestaurant"><img src="/templates/images/restaurant-icon.png" /> My Restaurant</a></li>
                    <li><a href="#"><img src="/templates/images/menu-icon.png" /> My Menu</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i> Messages <span class="alter-message">(1)</span></a></li>
                    <li><a href="#"><i class="fa fa-th-list"></i> My Orders</a></li>
                    <li><a href="#"><i class="fa fa-star"></i> My Reviews</a></li>
                    <li><a href="#"><i class="fa fa-usd"></i> My Transactions</a></li>
                    <li><a href="#"><i class="fa fa-pencil"></i> Manage Users</a></li>
                    <li class="tracking"><a href="#"><i class="fa fa-search"></i> Order Tracking</a></li>
                }
                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="/User/SignOut"><i class="fa fa-cog"></i> SignOut</a></li>
            </ul>
        </div>
    </aside>
</div>
