@*@model  Bringly.Domain.Common.Unauthorize*@
@{
    ViewBag.Title = "Unauthorized Access";
    Layout = "~/Views/Shared/MasterPages/AuthorizeUserMaster.cshtml";
    //ViewBag.HideLeftSection = true;
}

<h2>Unauthorized Access</h2>
@*<a href="/user/dashboard">Back To Home</a>*@

